.heroSection {
  height: 80vh;
  display: flex;
  justify-content: center;
}

.heroContainer {
  display: flex;
  align-items: center;
}

.heroText {
  margin-left: 2rem;
}

.heroText p {
  margin-bottom: 1.5rem;
}

@media all and (max-width: 44rem) {
  .heroContainer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .heroText {
    margin: 0;
  }
}
