.projectList {
  margin: 4rem 2rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.project {
  display: grid;
  justify-content: center;
  margin: 4rem 0rem;
  width: 100%;
}

.projectImage {
  grid-column: 1/6;
  grid-row: 1/-1;
}

.projectDetailsContainer {
  align-self: center;
  margin: 0 3rem;
  border: 4px solid var(--primary);
  padding: 2rem 2rem 2rem 13rem;
  grid-column: 4/12;
  grid-row: 1/-1;
}

.project:nth-child(even) > .projectImage {
  grid-column: 6/12;
}

.project:nth-child(even) > .projectDetailsContainer {
  grid-column: 1/8;
  padding: 2rem 11rem 2rem 2rem;
}

.projectDetails {
  max-width: 65ch;
}

.projectDetails a {
  margin: 0;
}

.projectDetails ul {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  padding: 0;
}

.projectDetails li {
  margin: 0.25rem 1rem 0.25rem 0rem;
}

.projectTech li {
  padding: 0.25rem 1rem;
  background-color: var(--primary);
  color: var(--light-text);
  border-radius: 0.25rem;
}

@media all and (max-width: 76.5rem) {
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projectDetailsContainer {
    padding: 0.25rem 1rem;
    margin: 0;
  }

  .project:nth-child(even) > .projectDetailsContainer {
    padding: 0.25rem 1rem;
  }
}
